<ion-content [fullscreen]="true">
  <ion-toolbar style="text-align: center;">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/settings">
      </ion-back-button>
    </ion-buttons>

    <ion-title>
      Informations d'utilisateurs
    </ion-title>
<ion-buttons slot="end">

</ion-buttons>
  </ion-toolbar>

  <ion-card class="ion-no-margin profile-card">
    <ion-card-content>
      <img src="../../../../assets/card-media.png" height="150" width="150">

      <h1>
        <ion-text><strong></strong></ion-text>
      </h1>

      </ion-card-content>
      </ion-card>


  <div class="ion-padding">
    <form class="form-default" [formGroup]="edit_profile_form_perso" (submit)="submitPassword()">

      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="newPassword" type="password" placeholder="Nouveau mot de passe"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="confirmPassword" type="password"
          placeholder="Confirmer le nouveau mot de passe"></ion-input>
      </ion-item>
        <ion-button class="ion-margin-top ion-button1" expand="block" size="medium" type="submit">
          Modifier
        </ion-button>

    </form>
  </div>

</ion-content>
