<ion-content [fullscreen]="true">
  <ion-toolbar style="color:#523614 ;">
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/home">
      </ion-back-button>
    </ion-buttons>

    <ion-title style="padding-left: 30%;">
      Paramètres
    </ion-title>
  </ion-toolbar>

  <ion-card class="ion-no-margin profile-card" style="text-align: center;font-color :#523614;">
    <ion-card-content style="text-align: center;">
      <div style="text-align: center !important;">
        <img src="../../../../assets/card-media.png" height="150" width="150">
      </div>
      <h1>
        <ion-text><strong>Numéro carte : {{carte}}</strong></ion-text>
        </h1>
        <h1>
          <ion-text><strong>Adhérant : {{nom}}</strong></ion-text>
        </h1>
        <h1>
          <ion-text><strong>Solde : {{total}} Points</strong></ion-text>
          </h1>
          <h2>
            <ion-text><strong>Expiration mois en cours: {{validity}} Points qui expire
                {{lastDayOfCurrentMonth}}</strong></ion-text>
        </h2>
        <br>
        <ion-button (click)="onButtonClick()" color="dark" fill="outline">Actualiser</ion-button>

        <!-- <ngx-gauge [type]="'full'" [value]="calculatePercentage()"></ngx-gauge> -->
    </ion-card-content>
    <br><br>
    <br><br>
  </ion-card>
<br><br>
  <div class="ion-padding">


    <ion-list lines="full">
      <ion-item button routerLink="profile/edit">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>
          <h3>Profile</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-list class="list-custom" lines="full" (click)="signOut()">
      <ion-item button detail=false>
        <ion-icon slot="start" name="log-out"></ion-icon>
        <ion-label>
          <h3>Se déconnecter</h3>
        </ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>
