<ion-content id="signup" style="text-align: center;">
  <ion-toolbar>
    <ion-title>
      Inscription
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color: #523614 ;font-weight: 600;" defaultHref="/signin" text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
    <div id="content" class="ion-padding ">
    <form class="form-default" [formGroup]="signup_form" (submit)="signUp()">
      <br>
      <!-- Other form controls -->
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Nom" autocomplete="off" placeholder="Nom"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Prénom" autocomplete="off" placeholder="Prénom"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="email" autocomplete="off" placeholder="email"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Tel" autocomplete="off" placeholder="Tel"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Adresse" autocomplete="off" placeholder="Adresse"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Magasin" autocomplete="off" placeholder="Magasin"></ion-input>
      </ion-item>
      <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Civilité" autocomplete="off" placeholder="Civilité"></ion-input>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
        <ion-input formControlName="Gouvernorat" autocomplete="off" placeholder="Gouvernorat"></ion-input>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
          <ion-input formControlName="password" type="password" autocomplete="off" placeholder="Mot de passe"></ion-input>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
          <ion-input formControlName="password_repeat" type="password" autocomplete="off"
            placeholder="Répéter la mot de passe"></ion-input>
        </ion-item>
        <ion-button class="ion-margin-top ion-button2" expand="block" size="medium" (click)="signUp()">
          Enregistrer
      </ion-button>
    </form>
    
</div>
</ion-content>
