:host {
  ion-header {
      background: #eac24d !important;
    }
  
    ion-toolbar {
      --background: #eac24d !important;
    }
  body {
    --background: #eac24d !important;
    }
    
    ion-content {
      --background: #eac24d !important;
  }


  ion-list {
    border-radius: 8px;
    margin-bottom: 8px;
    --background: #eac24d !important;
  }

  ion-label {
    font-size: 16px;
    font-weight: 700;
  }
        ion-card {
          position: relative;
        }
    
        .promotion-badge {
          z-index: 50;
          position: absolute;
          top: 0;
          left: 0;
          background-color: #ff0000;
          /* Couleur de fond de la bande */
          color: #ffffff;
          /* Couleur du texte de la bande */
          padding: 5px 10px;
          /* Espacement interne de la bande */
          font-size: 14px;
          /* Taille de police de la bande */
          border-radius: 5px;
          /* Bordure arrondie de la bande */
        }
                                                                                                                                ion-searchbar {
                                                                                                                                  background: #eac24d !important;
                                                                                                                                  color: #523614;
                                                                                                                                }
                                                                                                                                }
                                                                
                                                                                                                                ion-card {
                                                                                                                                  border-radius: 30px;
                                                                                                                                }