<ion-content [fullscreen]="true">
  <ion-toolbar style="text-align: center;font-weight: 600;">
    <ion-title>
      Promotions
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/settings">
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-grid>
    <ion-row *ngFor="let row of chunkArray(data, 2)">
      <ion-col *ngFor="let article of row">
        <ion-card>
          <div class="promotion-badge">{{ article.Disc___ }}%</div>
          <ion-card-header style="text-align: center;color:#523614 ;">
            <img
              src={{article.PictureURL}}>
            {{ article.Description }}
          </ion-card-header>
          <ion-card-content style="text-align: center;color:#523614 ;text-decoration:line-through;">
            {{ article.Standard_Price }} DT
          </ion-card-content>
            <ion-card-content style="text-align: center;color:#523614 ;">
            {{ article.Offer_Price }} DT
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
